<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login via cookies</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="topnav">
        <a href="./select_files">Step1: select files</a>
        <a href="./order_of_files">Step 2: order files</a>
        <a href="./output">Output</a>
    </div>
<div>
    <h1>Concatenating Assignments in WeBWorK</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div style="background-color: beige;">
        <ul class=flashes>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        </ul>
        </div>
    {% endif %}
    {% endwith %}
    {% block form %}
    {% endblock %}
</div>
</body>
</html>