{% extends 'base.html' %}

{% block form %}
    <fieldset>
        <form action="./concat_and_order" method="POST">
            <h2> Found files </h2>
                <ul>
                    {% set n_files = filenames|length %}
                    {% for file_ in filenames %}
                    <li>
                    <input type="number" value={{loop.index}} name={{file_}}
                                    min="1" max=n_files style="width: 3em"/>
                    {{file_}}</li>
                    {% endfor %}
                     <input type="hidden" name="filenames" value={{ filenames|join('/') }}>
                </ul>
            To-do: add possibility of changing the order
            <p style="text-align: center;"><input type="submit" name="submit" value="submit"></p>
        </form>
    </fieldset>
{% endblock %}